<div class="row">
  <div class="columns large-24">
    <label for="name"><%= @options[:name_label]%></label>
    <input type="text" name="name" id="name">
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <label for="period"><%= @options[:id_number_label] %></label>
    <input type="text" name="id_number" id="id_number">
  </div>
  <div class="columns large-12">
    <label for="amount"><%= @options[:amount_label] %></label>
    <input type="text" name="amount" id="amount">
  </div>
</div>
<div class="row">
  <div class="columns large-24">
    <label for="number"><%= @options[:number_label] %></label>
    <input type="text" data-stripe="number" id="number">
  </div>
</div>
<div class="row">
  <div class="columns large-16">
    <label for="exp"><%= @options[:exp_label] %></label>
    <div class="row">
      <div class="columns large-12 no-left-padding">
        <input type="text" data-stripe="exp-month" id="month" placeholder="MM">
      </div>
      <div class="columns large-12 no-right-padding">
        <input type="text" data-stripe="exp-year" id="year" placeholder="YYYY">
      </div>
    </div>
  </div>
  <div class="columns large-8">
    <label for="cvc"><%= @options[:cvc_label] %></label>
    <input type="text" data-stripe="cvc" id="cvc">
  </div>
</div>
<div class="row">
  <div class="columns large-24">
    <input type="submit" class="submit" value="<%= @options[:submit_label] %>">
  </div>
</div>
